	@media (max-width: 600px) {
		.main-timeline .timeline-icon:before { display: none; }
	}

	.main-timeline{
		overflow: hidden;
		position: relative;
		margin: 3% auto;

	}
	.main-timeline .timeline {
		position: relative;
		padding-top: 2%;
	}

	.main-timeline .timeline:before,
	.main-timeline .timeline:after{
		content: "";
		display: block;
		width: 100%;
		clear: both;

	}
	.main-timeline .timeline:before{
		content: "";
		width: calc(5px + 0.1vw);
		height: 100%;
		background: #210035;
		padding-top: 15px;
		margin: 0px auto;
		position: absolute;
		top: -50%;
		left: 0;
		right: 0;
	}

	.main-timeline .timeline:first-child:before{
		height: 0;
		width: 0;
	}
	.main-timeline .timeline:last-child:before{
		height: 100%;
		border-radius: 0 0 10px 10px;
	}
	.main-timeline .timeline-icon{
		display: block;
		width: calc(20px + .2vw);
		height: calc(20px + .2vw);
		line-height: 67px;
		border-radius: 50%;
		background: #210035;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}

	.main-timeline .timeline:first-child .timeline-icon,
	.main-timeline .timeline:last-child .timeline-icon {
		width: calc(20px + 1vw);
		height: calc(20px + 1vw);
	}

	.main-timeline .timeline-content{
		width: 50%;
		padding-right: 15%;
		overflow: auto;		
		white-space: nowrap;
	}

	.main-timeline .icon{
		float: right;
		height: calc(35px + 2vw);
		width: calc(35px + 2vw);
		text-align: center;
		line-height: calc(7.5px + 2vw);
		color: #fff;		
		margin: 0 auto 0 auto;
		border-radius: 25%;
		margin-left: 15px;
	}

	.main-timeline .icon .no-logo {
		position: relative;
		left: 50%;
		-webkit-transform: translate(-50%,35%);
		-ms-transform: translate(-50%,35%);
		transform: translate(-50%,35%);
		height: 65%;
		width: 65%;
	}

	.main-timeline .timeline:nth-child(2n) .icon {
		margin-left: 0px;
		margin-right: 20px;
		float: left;
	}

	.main-timeline .no-logo{
		padding: 1vw;		
		margin-left: 15px;
		margin-bottom: 15px;
	}
	
	.main-timeline .timeline:nth-child(2n) .no-logo {
		float: left; 
		margin-right: 15px;
		margin-left: 0px;
	}

	.main-timeline .icon svg{
		font-size: 0;
		height: calc(35px + 2vw);
		border-radius: 25%;
		padding: 0%;
		margin-bottom: 100%;
	}
	
	.main-timeline .description{
		line-height: 24px;
		margin-bottom: 0;
		margin-left: 15px;
		overflow: auto;
	}

	.main-timeline .timeline:nth-child(2n) .description{
		margin-left: 0px;
		margin-right: 15px;
	}

	.main-timeline .timeline-icon:before {
		content: " ";
		height: 0;
		position: absolute;
		top: calc(50% - 2.5px);
		width: 0;
		z-index: 1;
		right: 5px;
		border: medium solid #210035;
		border-bottom-width: 0;
		border-top-width: calc(5px + 0.1vw);
		border-left-width: calc(20px + 7vw);
	}

	.main-timeline .timeline:nth-child(2n) .timeline-icon:before {
		left: 5px;
	}

	.main-timeline h5 {
		font-size: calc(10px + .6vw);
		text-align: right;
	}

	.main-timeline .timeline:nth-child(2n) h5 {
		text-align: left;
	}

	.main-timeline h6 {
		font-size: calc(7px + .6vw);
		text-align: right;
	}

	.main-timeline .timeline:nth-child(2n) h6 {
		text-align: left;
	}

	.main-timeline .year{
		float: right;
		font-size: calc(10px + .6vw);
		text-align: right;
	}

	.main-timeline .timeline:nth-child(2n) .year{
		text-align: left;
		float: left;
	}

	.main-timeline .year span{
		display: inline-block;
		white-space: nowrap;
		padding: 6px 25px 6px 25px;
		background: #6b368b;
		border-radius: 50px 50px 50px 50px;
		font-size: calc(10px + .3vw);
		font-weight: bold;
		line-height: calc(10px + .3vw);
		color: #ffffff;
	}
	
	.main-timeline .timeline:nth-child(2n) .timeline-content{
		float: right;
		padding: 0 0 0 15%;
	}
	.main-timeline .timeline:nth-child(2n) .description{ padding-left: 20px; }

	.main-timeline .timeline.second .icon{ color: #fff; background-color: #273285; }
