	@media (max-width: 600px) {
		.main-timeline .timeline-icon:before { display: none; }
	}

	.main-timeline{
		overflow: hidden;
		position: relative;
		margin: 3% auto;

	}
	.main-timeline .timeline {
		position: relative;
		padding-top: 2%;
	}

	/* timeline line */
	.main-timeline .timeline:before,
	.main-timeline .timeline:after{
		content: "";
		display: block;
		width: 100%;
		clear: both;

	}
	.main-timeline .timeline:before{
		content: "";
		width: calc(5px + 0.1vw);
		height: 100%;
		background: #210035;
		padding-top: 15px;
		margin: 0px auto;
		position: absolute;
		top: -50%;
		left: 0;
		right: 0;
	}
	
	.main-timeline .timeline:first-child:before{
		height: 0;
		width: 0;
	}
	.main-timeline .timeline:last-child:before{
		height: 100%;
		border-radius: 0 0 10px 10px;
	}
	
	/* timeline dots */
	.main-timeline .timeline-icon{
		display: block;
		width: calc(20px + .2vw);
		height: calc(20px + .2vw);
		line-height: 67px;
		border-radius: 50%;
		background: #210035;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
	
	/* start and end timeline dots */
	.main-timeline .timeline:first-child .timeline-icon,
	.main-timeline .timeline:last-child .timeline-icon {
		width: calc(20px + 1vw);
		height: calc(20px + 1vw);
	}
	
	/* timeline arms */
	.main-timeline .timeline:nth-child(2n) .timeline-icon:before {
		left: 5px;
	}
	
	.main-timeline .timeline-icon:before {
		content: " ";
		height: 0;
		position: absolute;
		top: calc(50% - 2.5px);
		width: 0;
		z-index: 1;
		right: 5px;
		border: medium solid #210035;
		border-bottom-width: 0;
		border-top-width: calc(5px + 0.1vw);
		border-left-width: calc(20px + 7vw);
	}

	/* experiences */
	.main-timeline .timeline-content{
		display: flex;
		width: 50%;
		padding-right: 15%;
		overflow: visible;
		align-items: center;
  		justify-content: center;
	}

	.main-timeline .timeline:nth-child(2n) .timeline-content{
		float: right;
		padding: 0 0 0 15%;
	}
	
	.main-timeline .timeline:nth-child(2n) .timeline-content{
		display: flex;
		width: 50%;
		padding-right: 0%;
		padding-left: 15%;
		overflow: visible;
		align-items: center;
		justify-content: center;
	}
	
	/* icons */
	.main-timeline .icon-content {
		flex: 20%;
		align-items: center;
		justify-content: center;
	}

	@media(max-width: 600px) {
		.main-timeline .icon-content{
			display: none;
		}
	}

	.main-timeline .icon-content svg{
		border-radius: 25%;
	}

	.no-logo {
		font-size:3.5vw;
		color: #fff;
		text-align: center;
		background-color: #273285;
		border-radius: 25%;
	}

	/* text */
	.main-timeline .text-content {
		flex: 80%;
		display: flex;
		flex-flow: column;
		align-items: flex-end;
		justify-content: center;
		text-align: right;
		padding-right: 5%;
	}

	.main-timeline .timeline:nth-child(2n) .text-content {
		align-items: flex-start;
		text-align: left;
		padding-right: 0%;
		padding-left: 5%;
	}

	.main-timeline .text-content h5 { 
		font-size: calc(10px + .6vw);
	}

	.main-timeline .text-content h6 { 
		font-size: calc(7px + .6vw);
	}
	
	.main-timeline .description{
		line-height: 24px;
		margin-bottom: 0;
		margin-left: 15px;
		overflow: auto;
	} 

	/* year */
	.main-timeline .text-content .year { 
		font-size: calc(10px + .6vw);
	}
	
	.main-timeline .year span{
		display: flex;
		align-self: flex-end;
		padding: 6px 25px 6px 25px;
		background: #6b368b;
		border-radius: 50px 50px 50px 50px;
		font-size: calc(10px + .3vw);
		font-weight: bold;
		line-height: calc(10px + .3vw);
		color: #ffffff;
	}
